!dist/.gitkeep
!var/logs/.gitkeep
.DS_Store
.env
.idea
.nyc_output
.scannerwork
.ts-*/
coverage
dist
newrelic_agent.log
node_modules
npm-debug.log
tsconfig.debug.tsbuildinfo
tsconfig.test.tsbuildinfo
tsconfig.tsbuildinfo
var/logs/
yarn.lock
bin
